<p>Form project</p>


  <input type="text" placeholder="Name" [(ngModel)]="user.name">
  <input type="text" placeholder="Gmail"[(ngModel)]="user.gmail">
  <input type="radio" value="male"  name="Gender" [(ngModel)]="user.gender"><label>Male</label> 
  <input type="radio" value="female" name="Gender"[(ngModel)]="user.gender"><label>Female</label>
  <button (click)="addData()">AddData</button>
  <hr>

  
  
        <input type="text" [(ngModel)]="inputlVal" placeholder="Search">
        <input type="radio" value="male"  name="GenderS" [(ngModel)]="gender"><label>Male</label> 
        <input type="radio" value="female" name="GenderS"[(ngModel)]="gender"><label>Female</label>
        <!-- <button (click)="filterData()" >Filter data </button> -->
  
<div *ngIf="users.length>0">
  <table>
    <tr>
      <th>Name</th>
      <th>Gmail</th>
      <th>Gender</th>
    </tr>
    <tr *ngFor="let obj of users;let i = index">
      <td>{{obj.name}}</td>
      <td>{{obj.gmail}}</td>
      <td>{{obj.gender}}</td>
      <button (click)="remove(obj)">Remove</button>
    </tr>
  </table>
</div>


